/* No lines in modal */
.modal-header, .modal-footer {
  border-top: none !important;
  border-bottom: none !important;
}

h1 {
  font-weight: bold;
}

.btn-primary {
  color: #329664;
  background-color: #ffffff;
  border: 0;
  font-weight: bold;
}

.btn-primary:hover,
.btn-primary:focus {
  color: #329664;
  background-color: #D3D3D3;
}

.no-border {
  border: 0;
}

.bg-green {
  background-color: #329664;
}

.modal-body {
  color: black;
}

.modal-button {
  background-color: #329664;
  color: white;
}

.modal-button:hover,
.modal-button:focus {
  background-color: #2b724f;
  color: white;
}