/*
Tab styling modified from:
https://bootsnipp.com/snippets/featured/material-design-tab-style
Accessed November 25, 2017
*/

*:focus {
  border-color: #329664 !important;
  outline-color: #329664 !important;
}

.tt-suggestion:hover {
  background-color: #329664 !important;
}

.finalize-check-off {
  display: none;
}

.finalize-off {
  background-color: white !important;
  color: grey !important;
  border: 0.2em solid grey !important;
}

.finalize-off:hover,
.finalize-off:active {
  color: #343a40 !important;
  border: 0.2em solid #343a40 !important;
}

/*
From:
https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting-using-css/4407335#4407335
Accessed November 27, 2017
*/
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@media (max-width: 991px) {
  #companyNameNav {
    max-width: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.menu-modal-content {
  background-color: transparent;
  border: none;
  margin: 0 !important;
}

.menu-modal-body {
  padding: 0;
}

.btn.btn-primary:disabled {
  background-color: grey;
}

.pdf-modal-dialog {
  height: 100vh;
  width: 100vw;
  margin: 0;
  position: fixed;
}

.pdf-modal-content {
  height: 100vh;
  width: 100vw;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important; 
}

.pdf-modal-body {
  padding: 0;
  width: 100%;
  height: 60vh;
}

.newPicture {
  -webkit-transition: -webkit-filter 0.5s;
  transition: filter 0.5s;
  -webkit-filter: grayscale(100%); /* Safari */
  filter: grayscale(100%);
}

.newPicture:hover {
  -webkit-filter: grayscale(0%); /* Safari */
  filter: grayscale(0%);
}

/* No lines in modal */
.modal-header, .modal-footer {
  border-top: none !important;
  border-bottom: none !important;
}

.no-highlight strong {
  font-weight: normal !important;
}

.nav-tabs > li {
  margin-top: 0.1em;
  font-weight: bolder;
}

.nav-tabs > li > a {
  -webkit-transition: color 0.25s; /* Safari */
  transition: color 0.25s;
  border-bottom: 0.1em solid #ddd !important;
}

.nav-tabs > li > a.active {
  color: #329664 !important;
  border-bottom: 0.1em solid #329664 !important;
}

.nav-tabs > li > a:hover {
  color: #505050 !important;
  border-bottom: 0.1em solid #505050 !important;
}

.nav-tabs > li > a.active:hover {
  color: #329664 !important;
  border-bottom: 0.1em solid #329664 !important;
}

.nav-tabs > li > a {
  color: #808080 !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

/* So clear search button shows (older browsers) */
#search-typeahead::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

/*
So clear search button shows (need this version so Safari renders properly)
*/
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button !important;
}

@media (min-width: 992px) {
  .navbar-collapse {
    flex-basis: auto;
  }
}

@media (max-width: 767px) {
  .remove .twitter-typeahead {
    display: none !important;
  }
  .search-icon {
    color: rgba(255,255,255,.5);
    background-color: #343a40;
    border: 0;
    font-weight: bold;
  }
  .search-icon:hover{
    cursor: pointer;
    color: rgba(255,255,255,.75);
    background-color: #343a40;
    border: 0;
    font-weight: bold;
  }
  .small-hide {
    max-width: 0 !important;
    overflow: hidden !important;
  }
}
@media (min-width: 768px){
  .search-icon {
    color: #329664;
    background-color: #ffffff;
    border: 0;
    font-weight: bold;
  }
  #search-div {
    width: 300px;
  }
}
.search-icon-green {
  color: #329664;
  background-color: #ffffff;
  border: 0;
  font-weight: bold;
}
.fixed-tab-width {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 10em;
  overflow: hidden;
  display: block;
}

.closeTab:hover {
  color: #400;
}

.name-edit {
  -webkit-transition: color 0.25s; /* Safari */
  transition: color 0.25s;
  color: #505050;
  font-weight: bolder;
  display: block;
  float: right;
}

.name-edit:hover {
  color: black;
}

.text-grey {
  color: #777777;
}

h1 {
	font-weight: bold;
  color: #343a40;
}
body{
  hyphens: auto;
}
a, a:hover {
  color: inherit;
  text-decoration: none;
}
input[type="file"] {
    display: none;
}
.btn-primary {
  color: #ffffff;
  background-color: #343a40;
  border: 0;
  font-weight: bold;
}
.btn-primary:hover,
.btn-primary:focus {
  color: #ffffff;
  background-color: #2b724f;
}
.btn-secondary {
  color: #343a40;
  background-color: #ffffff;
  border: 0;
  font-weight: bold;
}
.customer-item {
  color: #ffffff;
  background-color: #808080;
  border: 0;
}
.btn-danger {
  color: #ffffff;
  background-color: #A50000;
  border: 0;
  font-weight: bold;
}
.link-to-project:hover {
  cursor: pointer;
}
.btn-grey {
  margin: 0.25rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  color: #ffffff;
  background-color: #808080;
  border: 0;
  font-weight: bold;
}
.btn-grey:hover,
.btn-grey:focus {
  margin: 0.25rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  color: #808080;
  background-color: #ffffff;
}
.no-border {
	border: 0;
}

.bg-green {
	background-color: #329664;
}

.text-green {
  color: #329664;
}

.text-bold {
  font-weight: bold;
}

.bg-darkgreen {
  background-color: #26754e;
}

.bg-white {
  background-color: #ffffff;
}
.text-black {
  color:#000000;
}
.top-bot-pad {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0;
}
.less-padding {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
}
.no-top-padding {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0;
  margin-top: 0;
}
.no-padding {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.zero-padding {
  padding: 0;
}
.bottom-margin {
  margin-bottom: 0.25rem;
}
.paddingless{
  padding: 0px;
  margin: 0;
}

.not-reached{
  background-color: #ffffb3;
}
.appraisal-booked{
  background-color: #b3ffb3;
}
.waiting-appraisal{
  background-color: #ffb3b3;
}
.appraised{
  background-color: #a7f1a7;
}
.quote-sent{
  background-color: #eee8aa;
}
.waiting-alberta{
  background-color: #fff599;
}
.install-pending{
  background-color: #ffdab9;
}
.installing{
  background-color: #c0f2f2;
}
.paid{
  background-color: #99ff99;
}
.not-interested{
  background-color: #d9d9d9;
}

.not-reached-text::first-letter {
  color: #ffffb3;
}
.appraisal-booked-text::first-letter {
  color: #b3ffb3;
}
.waiting-appraisal-text::first-letter {
  color: #ffb3b3;
}
.appraised-text::first-letter {
  color: #a7f1a7;
}
.quote-sent-text::first-letter {
  color: #eee8aa;
}
.waiting-alberta-text::first-letter {
  color: #fff599;
}
.install-pending-text::first-letter {
  color: #ffdab9;
}
.installing-text::first-letter {
  color: #c0f2f2;
}
.paid-text::first-letter {
  color: #99ff99;
}
.not-interested-text::first-letter {
  color: #d9d9d9;
}
.make-centre{
  display: flex;
  justify-content: center;
  align-items: center;
}
.hide{
  display: none;
}

.required::after {
  content: "*";
  color: red;
}
#search-bar .empty-message {
  padding: 5px 10px;
 text-align: center;
}
.vertical-center {
  min-height: 100%;
  display: flex;
  align-items: center;
}
.card-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.card-row > [class*='col-'] {
   display: flex;
   flex-direction: column;
}
.full-width {
  width: 100%;
}
/*modified from https://github.com/bassjobsen/typeahead.js-bootstrap-css/blob/master/typeaheadjs.css */
span.twitter-typeahead .tt-menu,
span.twitter-typeahead .tt-dropdown-menu {
  cursor: pointer;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
span.twitter-typeahead .tt-suggestion {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: normal;
}
span.twitter-typeahead .tt-suggestion.tt-cursor,
span.twitter-typeahead .tt-suggestion:hover,
span.twitter-typeahead .tt-suggestion:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #337ab7;
}
.input-group.input-group-lg span.twitter-typeahead .form-control {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.input-group.input-group-sm span.twitter-typeahead .form-control {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
span.twitter-typeahead {
  width: 100%;
}
.input-group span.twitter-typeahead {
  display: block;
}
.input-group span.twitter-typeahead .tt-menu,
.input-group span.twitter-typeahead .tt-dropdown-menu {
  top: 32px !important;
}
.input-group span.twitter-typeahead:not(:first-child):not(:last-child) .form-control {
  border-radius: 0;
}
.input-group span.twitter-typeahead:first-child .form-control {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group span.twitter-typeahead:last-child .form-control {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.twitter-typeahead, .tt-hint, .tt-input, .tt-menu { 
  width: 100%;
 }
.input-group.input-group-sm span.twitter-typeahead .tt-menu,
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
  top: 30px !important;
}

.input-group.input-group-lg span.twitter-typeahead .tt-menu,
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
  top: 46px !important;
}

.HorizontalScrollList
{
    overflow-x:scroll;
    overflow-y:hidden;
    padding: 0 5px;
		margin: 0px 10px 15px 10px;
}

.PictureThumbnail
{
		display:inline-block;
    padding: 0;
    max-height:100%;
    max-width:100%;
		margin:0.5rem;
}
.modal-padding {
  padding: 0.25rem;
}
.center-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.list-inline {
  white-space:nowrap;
}
.custom-modal {
  height: auto;
  width: auto;
  display: table;
}
.imagemodal {
	max-height: 90vh;
	max-width: 90vw;
}
