* {
  	border-radius: 0 !important;
}

h1 {
	font-weight: bold;
}

.btn-primary {
  	color: #329664;
  	background-color: #ffffff;
  	border: 0;
  	font-weight: bold;
}

.btn-primary:hover,
.btn-primary:focus {
	color: #329664;
  	background-color: #D3D3D3;
}

.text-green {

}

.no-border {
	border: 0;
}

.bg-green {
	background-color: #329664;
}