{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}
{% extends "base.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<h1>{{ _('Change Password') }}</h1>
<form class="text-green text-bold" action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
  {{ change_password_form.hidden_tag() }}
  {{ render_field_with_errors(change_password_form.password, class="form-control", type="password", placeholder="Password", maxlength="200") }}
  {{ render_field_with_errors(change_password_form.new_password, class="form-control", type="password", placeholder="New Password", maxlength="50", minlength="8") }}
  {{ render_field_with_errors(change_password_form.new_password_confirm, class="form-control", type="password", placeholder="Confirm Password", maxlength="50", minlength="8") }}
  {{ render_field(change_password_form.submit, class="btn btn-primary btn-block") }}
</form>
{% endblock %}



