{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
  <link rel="manifest" href="../static/favicon/manifest.json">
  <link rel="mask-icon" href="../static/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#343a40">
  <title>Cavalry Fence Builder</title>
  <!-- Bootstrap core CSS-->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="../static/css/sb-admin.css" rel="stylesheet">
  <link href="../static/css/authenticate-styles.css" rel="stylesheet">
</head>

<body class="bg-dark text-white">
  <div class="container">
    <div class="card bg-dark card-login mx-auto mt-5 no-border">
      <div class="container">
      	<h1>{{ _('Cavalry Fence Builder') }}</h1>
      </div>
      <div class="card-body">
        <div class="text-center mt-2 mb-5">
          <h4>Forgot your password?</h4>
          <p>Enter your email address and we will send you instructions on how to reset your password.</p>
        </div>
        <form action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
          {{ forgot_password_form.hidden_tag() }}
  		  {{ render_field_with_errors(forgot_password_form.email, class="form-control no-border", type="email", placeholder="Enter email address", maxlength="50") }}
  		  {{ render_field(forgot_password_form.submit, class="btn btn-primary btn-block") }}
        </form>
        <div class="text-center">
          <a class="d-block small mt-3 text-white" href="{{ url_for_security('login') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}">{{ _('Login') }}</a>
          <a class="d-block small text-white" href="{{ url_for_security('register') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}">{{ _('Request Account') }}</a>
          {% if security.confirmable %}
          <a class="d-block small text-white" href="{{ url_for_security('send_confirmation') }}">{{ _('Confirm account') }}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/popper/popper.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>

<!--
<h1>{{ _('Send password reset instructions') }}</h1>
<form action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
  {{ forgot_password_form.hidden_tag() }}
  {{ render_field_with_errors(forgot_password_form.email) }} 
  {{ render_field(forgot_password_form.submit) }}
</form>!-->

