{% extends "base.html" %}
{% block content %}
<h1>New Project</h1>
<form id="projinfo" method="post" action="{{ url_for('newproject') }}">
  <p> Add a Project</p>
  <input type="text" id="ajax" list="json-datalist" placeholder="e.g. datalist">
  <datalist id="json-datalist"></datalist>
	<p>Name</p>
	<input class="form-control" placeholder="Enter Project Name" id="name name="name" type="text" size="20">
	<p>Address</p>
	<input class="form-control" placeholder="Enter Address" id="address" name="text" size="20">
	<p></p>
	<input class="btn btn-primary btn-block"type="submit" value="Create">
</form>



<script type="text/javascript">
	// Get the <datalist> and <input> elements.
	var dataList = document.getElementById('json-datalist');
	var input = document.getElementById('ajax');


//http://blog.teamtreehouse.com/creating-autocomplete-dropdowns-datalist-element
// Create a new XMLHttpRequest.
var request = new XMLHttpRequest();

// Handle state changes for the request.
request.onreadystatechange = function(response) {
  if (request.readyState === 4) {
    if (request.status === 200) {
      // Parse the JSON
      var jsonOptions = JSON.parse(request.responseText);

      // Loop over the JSON array.
      jsonOptions.forEach(function(item) {
        // Create a new <option> element.
        var option = document.createElement('option');
        // Set the value using the item in the JSON array.
        option.value = item.first_name;
        // Add the <option> element to the <datalist>.
        dataList.appendChild(option);
      });

      // Update the placeholder text.
      input.placeholder = "e.g. datalist";
    } else {
      // An error occured :(
      input.placeholder = "Couldn't load datalist options :(";
    }
  }
};

// Update the placeholder text.
input.placeholder = "Loading options...";

// Set up and make the request.
request.open('GET', 'autocomplete', true);
request.send();
</script>

{% endblock %}