{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}

<h1>Projects</h1>

<h2>{{name}}</h2>
<p>{{company}}<br>
{{phone}}<br>
{{email}}</p>

<div class="list-group list-group-flush" id="projectlist"></div>


<script>
function test_data(listproj){
    console.log(listproj)
}

function makeA(array) {
    // Create the list element:
    var list = document.getElementById('projectlist');

    for(var i = 0; i < array.length; i++) {
        // Create the list item:
        var item = document.createElement('a');
        item.setAttribute('href', '#')
        item.setAttribute('class', 'list-group-item list-group-item-action');

        // this is where you want to go when you click
        //item.setAttribute('onclick', 'window.location.href="{{ url_for('projects') }}"' )
		item.setAttribute('onclick', 'projectClicked('+array[i].project_id+')')
		
        // Set its contents:
        item.appendChild(document.createTextNode(array[i].project_name));

        // Add it to the list:
        list.appendChild(item);
    }

    // Finally, return the constructed list:
    return list;
}

makeA({{ listproj|safe }});

function projectClicked(id) {
	window.location.href= '/projectinfo?proj_id='+id
}

</script>
{% endblock %}
