<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/home.css">
	
  </head>
  
  <body>

      <h1> Projects </h1>

      <h2 id="customerName">{{name}}</h2>
      <p id="customerInfo">
        {{email}}<br>
        {{phone}}<br>
        {{address}}
      </p>
      <a href="editcustomer"> <button> Edit </button> </a>

      <form action="{{ 'newproject' }}">
    	  <input type = "submit" value = "Add a project +">
	    </form>
	
  </body>
 </html>