<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/home.css">
	
  </head>
  
  <body>

      <h1> Cavalry Fence Builder </h1>
	  
	  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
      
	  <form action="{{ 'signup' }}" method="post">
        <input type="text" id="username" name="username"
          placeholder="Username"><br>
        <input type="text" id="email" name="email"
          placeholder="Email"><br>
        <input type="password" id="password" name="password"
          placeholder="Password"><br>
        <input type="password" id="confirmPassword" name="confirmPassword"
          placeholder="Confirm password"><br>
        <input type="submit" value="Request account">
      </form>

      <p> Have an account? <a href="login.html"> Log in </a> </p>
	
  </body>
 </html>