<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="theme-color" content="#343a40">
  <title>Error &middot; Cavalry Fence Builder</title>
</head>

<body>

  <h1>500</h1>
  <h2>Internal Server Error</h2>
  <p>You have both broken our app and angered the fence gods</p>

  <br>
  <button onclick="location.reload()">Try a Refresh</button>
  <p><a href="/">Go Home</a></p>

</body>

</html>