{% extends "basemaster.html" %}
{% block content %}
<h1>Account Requests</h1>
<div class="list-group list-group-flush small" id="generate-users"></div>
{% endblock %}
{% block content2 %}
<div class="modal fade" id="accept-modal" tabindex="-1" role="dialog" aria-labelledby="acceptModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="acceptModalLabel">Accept user?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Clicking accept will accept the account request and activate the account.</div>
      <div class="modal-footer">
        <button class="btn btn-danger" type="button" data-dismiss="modal" id="cancel-button">Cancel</button>
        <button class="btn btn-primary" id="accept-button">Accept</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block content3 %}
<script type="text/javascript" src='../static/js/accountrequests.js'></script>
{% endblock %}
