{% extends "basemaster.html" %}
{% block content %}
  <h1>Account Requests</h1>
    <div class="list-group list-group-flush small" id="genereate-users"></div>
{% endblock %}
{% block content2 %}
{% endblock %}
{% block content3 %}
<script type="text/javascript">
  // Send a request to get the list of inactive users
  var requestUsers = new XMLHttpRequest();
  var requestList = document.getElementById('genereate-users')
  requestUsers.onreadystatechange = function(response) {
    if (requestUsers.readyState === 4) {
      if (requestUsers.status === 200) {
        // Parse the JSON
        var users = JSON.parse(requestUsers.responseText);
        users.forEach(function(user) {
          var item = document.createElement('a');
          item.setAttribute('href', '#')
          item.setAttribute('id', user.id)
          item.setAttribute('class', 'list-group-item list-group-item-action');
          item.setAttribute('onclick', 'acceptUser('+user.id+')')
          item.appendChild(document.createTextNode(user.company_name));
          item.appendChild(document.createTextNode(" " + user.email));
          item.appendChild(document.createTextNode(" " + user.username));
          requestList.appendChild(item);
        })
      }
    }
  }

  requestUsers.open('GET', '/getInactiveUsers', true);
  requestUsers.send()

  // POST request to accept the clicked inactive user
  var postRequest = new XMLHttpRequest();

  function acceptUser(id) {    //window.location.href= '/projectinfo?proj_id='+id
    postRequest.open("POST", "/acceptUser/", true);
    //Send the proper header information along with the request
    var params = "user_id="+id;
    postRequest.onreadystatechange = function(response) {
    if (postRequest.readyState === 4) {
      if (postRequest.status === 200) {
        window.location.reload();
      }
    }
  }
    var data = new FormData();
    data.append('user_id', id);
    postRequest.send(data);
  }
</script>
{% endblock %}
