{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
  <h1>Accounting</h1>
</div>
<hr class="mt-2">

<!-- Example DataTables Card-->
<b>Revenue</b>
    <style>b {font-size: 300%}</style>

<div class=" mb-lg-3">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Job Number</th>
              <th>Description</th>
              <th>Amount</th>
              <th>GST</th>
              <th>Total</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th colspan="5">Total</th>
            </tr>
          </tfoot>
          <tbody id="tableBody">

          </tbody>
        </table>
    </div>
</div><!-- Example DataTables Card-->

<div class="container-fluid">
  <button id = 'exportSummary'>Export Accounting Summary</button>
</div>

<div class="container-fluid">
  <div class="row" id="accountingTable"></div>
</div>
{% endblock %}
{% block content2 %}
<script type="text/javascript" src="../static/vendor/datatables/jquery.dataTables.js"></script>
<script type="text/javascript" src="../static/vendor/datatables/dataTables.bootstrap4.js"></script>
<script type="text/javascript" src="../static/js/Chart.min.js"></script>
<script type="text/javascript" src='../static/js/accounting.js'></script>
{% endblock %}



