{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
  <h1>Accounting</h1>
</div>
<hr class="mt-2">

<div class="container-fluid mt-3 slidey" style="cursor: pointer;">
  <div class="row">
    <h2 class="col-6 text-grey" style="font-weight: bold;">Revenue</h2>
    <h2 class="col-6 text-grey text-right" style="font-weight: bold;"><i class="fa fa-caret-down" aria-hidden="true"></i></h2>
  </div>
</div>
<hr class="mt-2">
<div id="revenue-container" class="container-fluid mt-3">
  <div class=" mb-lg-3">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <select class="selectpicker float-right mr-3" id="dataYear" name="dataYear" data-style="btn-primary" data-width="auto">
          <option value="0">All Time</option>
        </select>    
          <thead>
            <tr>
              <th>Job Number</th>
              <th>Project</th>
              <th>Revenue</th>
              <th>GST</th>
              <th>Customer Paid</th>
            </tr>
          </thead>
          <tfoot>
          <tr>
            <th colspan="2">Total</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          </tfoot>
          <tbody>

          </tbody>
        </table>
    </div>
  </div>
  <div class="container-fluid">
    <button class="btn btn-primary" id="exportSummary" onclick="extractData('#dataTable', 'revenue')">Export Table</button>
  </div>
</div>

<div class="container-fluid mt-3 slidey" style="cursor: pointer;">
  <div class="row">
    <h2 class="col-6 text-grey" style="font-weight: bold;">Expenses</h2>
    <h2 class="col-6 text-grey text-right" style="font-weight: bold;"><i class="fa fa-caret-down" aria-hidden="true"></i></h2>
  </div>
</div>
<hr class="mt-2">
<div id="cost-container" class="container-fluid mt-3 mb-3">
  <div class="mb-lg-3">
    <div class="table-responsive">
        <table class="table table-bordered" id="costTable" width="100%" cellspacing="0">
        <select class="selectpicker float-right mr-3" id="costYear" name="costYear" data-style="btn-primary" data-width="auto">
          <option value="0">All Time</option>
        </select>          
          <thead>
            <tr>
              <th>Job Number</th>
              <th>Project</th>
              <th>Expenses</th>
              <th>GST</th>
              <th>Paid</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th colspan="2">Total</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </tfoot>
          <tbody>
          </tbody>
        </table>
    </div>
  </div>
  <div class="container-fluid">
    <button class="btn btn-primary" id="exportSummary" onclick="extractData('#costTable', 'expenses')">Export Table</button>
  </div>
</div>
<div class="modal fade" id="message" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div id="message-text" class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Okay</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block content2 %}
<script type="text/javascript" src="../static/vendor/datatables/jquery.dataTables.js"></script>
<script type="text/javascript" src="../static/vendor/datatables/dataTables.bootstrap4.js"></script>
<script type="text/javascript" src='../static/js/accounting.js'></script>
{% endblock %}



