{% extends "base.html" %}
{% block content %}

<h1>Generating Quote</h1>
<hr class="mt-2">

<form id="create-form">
<div class="container-fluid">   
  <h4>Metal Post</h4>
  <div class="row">
    <div class="col-sm-4">
      <input onchange="saveActiveAppearance()" id="m-posts" type="number" class="form-control mb-2" min="0" step="1" oninput="validity.valid||(value='');">
    </div>
    <div class="col-sm-8">
      <select class="selectpicker mb-2" id="m-post-type" name="m-post-type" data-style="btn-primary" data-width="100%"></select>
    </div>
  </div>
  <h4>Metal U-Channel</h4>
  <div class="row">
    <div class="col-sm-4">
      <input onchange="saveActiveAppearance()" id="m-channel" type="number" class="form-control mb-2" min="0" step="1" oninput="validity.valid||(value='');">
    </div>
    <div class="col-sm-8">
      <select class="selectpicker mb-2" id="m-channel-type" name="m-channel-type" data-style="btn-primary" data-width="100%"></select>
    </div>
  </div>
  <h4>Metal L-Steel</h4>
  <div class="row">
    <div class="col-sm-4">
      <input onchange="saveActiveAppearance()" id="m-steel" type="number" class="form-control mb-2" min="0" step="1" oninput="validity.valid||(value='');">
    </div>
    <div class="col-sm-8">
      <select class="selectpicker mb-2" id="m-steel-type" name="m-steel-type" data-style="btn-primary" data-width="100%"></select>
    </div>
  </div>
  <h4>Plastic T Post</h4>
  <div class="row">
    <div class="col-sm-4">
      <input onchange="saveActiveAppearance()" id="p-post" type="number" class="form-control mb-2" min="0" step="1" oninput="validity.valid||(value='');">
    </div>
    <div class="col-sm-8">
      <select class="selectpicker mb-2" id="p-post-type" name="p-post-type" data-style="btn-primary" data-width="100%"></select>
    </div>
  </div>
  <h4>Plastic Corner Post</h4>
  <div class="row">
    <div class="col-sm-4">
      <input onchange="saveActiveAppearance()" id="p-corner" type="number" class="form-control mb-2" min="0" step="1" oninput="validity.valid||(value='');">
    </div>
    <div class="col-sm-8">
      <select class="selectpicker mb-2" id="p-corner-type" name="p-corner-type" data-style="btn-primary" data-width="100%"></select>
    </div>
  </div>
  <h4>Plastic Line Post</h4>
  <div class="row">
    <div class="col-sm-4">
      <input onchange="saveActiveAppearance()" id="p-line" type="number" class="form-control mb-2" min="0" step="1" oninput="validity.valid||(value='');">
    </div>
    <div class="col-sm-8">
      <select class="selectpicker mb-2" id="p-line-type" name="p-line-type" data-style="btn-primary" data-width="100%"></select>
    </div>
  </div>
  <h4>Plastic End Post</h4>
  <div class="row">
    <div class="col-sm-4">
      <input onchange="saveActiveAppearance()" id="p-end" type="number" class="form-control mb-2" min="0" step="1" oninput="validity.valid||(value='');">
    </div>
    <div class="col-sm-8">
      <select class="selectpicker mb-2" id="p-end-type" name="p-end-type" data-style="btn-primary" data-width="100%"></select>
    </div>
  </div>
  <h4>Plastic Gate Post</h4>
  <div class="row">
    <div class="col-sm-4">
      <input onchange="saveActiveAppearance()" id="p-gate" type="number" class="form-control mb-2" min="0" step="1" oninput="validity.valid||(value='');">
    </div>
    <div class="col-sm-8">
      <select class="selectpicker mb-2" id="p-gate-type" name="p-gate-type" data-style="btn-primary" data-width="100%"></select>
    </div>
  </div>
  <h4>Plastic U-Channel</h4>
  <div class="row">
    <div class="col-sm-4">
      <input onchange="saveActiveAppearance()" id="p-channel" type="number" class="form-control mb-2" min="0" step="1" oninput="validity.valid||(value='');">
    </div>
    <div class="col-sm-8">
      <select class="selectpicker mb-2" id="p-channel-type" name="p-channel-type" data-style="btn-primary" data-width="100%"></select>
    </div>
  </div>
  <h4>Plastic Panel</h4>
  <div class="row">
    <div class="col-sm-4">
      <input onchange="saveActiveAppearance()" id="p-panel" type="number" class="form-control mb-2" min="0" step="1" oninput="validity.valid||(value='');">
    </div>
    <div class="col-sm-8">
      <select class="selectpicker mb-2" id="p-panel-type" name="p-panel-type" data-style="btn-primary" data-width="100%"></select>
    </div>
  </div>
  <h4>Plastic T&G (Panels)</h4>
  <div class="row">
    <div class="col-sm-4">
      <input onchange="saveActiveAppearance()" id="p-panel" type="number" class="form-control mb-2" min="0" step="1" oninput="validity.valid||(value='');">
    </div>
    <div class="col-sm-8">
      <select class="selectpicker mb-2" id="p-panel-type" name="p-panel-type" data-style="btn-primary" data-width="100%"></select>
    </div>
  </div>
  <h4>Plastic Collar</h4>
  <div class="row">
    <div class="col-sm-4">
      <input onchange="saveActiveAppearance()" id="p-collar" type="number" class="form-control mb-2" min="0" step="1" oninput="validity.valid||(value='');">
    </div>
    <div class="col-sm-8">
      <select class="selectpicker mb-2" id="p-collar-type" name="p-collar-type" data-style="btn-primary" data-width="100%"></select>
    </div>
  </div>
  <h4>Plastic Caps</h4>
  <div class="row">
    <div class="col-sm-4">
      <input onchange="saveActiveAppearance()" id="p-cap" type="number" class="form-control mb-2" min="0" step="1" oninput="validity.valid||(value='');">
    </div>
    <div class="col-sm-8">
      <select class="selectpicker mb-2" id="p-cap-type" name="p-cap-type" data-style="btn-primary" data-width="100%"></select>
    </div>
  </div>
  <h4>Hinges</h4>
  <div class="row">
    <div class="col-sm-4">
      <input onchange="saveActiveAppearance()" id="hinge" type="number" class="form-control mb-2" min="0" step="1" oninput="validity.valid||(value='');">
    </div>
    <div class="col-sm-8">
      <select class="selectpicker mb-2" id="hinge-type" name="hinge-type" data-style="btn-primary" data-width="100%"></select>
    </div>
  </div>
  <h4>Latches</h4>
  <div class="row">
    <div class="col-sm-4">
      <input onchange="saveActiveAppearance()" id="latche" type="number" class="form-control mb-2" min="0" step="1" oninput="validity.valid||(value='');">
    </div>
    <div class="col-sm-8">
      <select class="selectpicker mb-2" id="latch-type" name="latch-type" data-style="btn-primary" data-width="100%"></select>
    </div>
  </div>
</div>
</form>
{% endblock %}
{% block content2 %}
<script type="text/javascript" src='../static/js/createquote.js'></script>
{% endblock %}