{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='customer.css') }}">
{% endblock %}
{% block content %}


<h1>Customers</h1>

<div class="list-group list-group-flush" id="customerlist"></div>



<script type="text/javascript">

  // Get the <datalist> and <input> elements.
  var customerList = document.getElementById('customerlist');

  // Create a new XMLHttpRequest.
  var request = new XMLHttpRequest();

  // Handle state changes for the request.
  request.onreadystatechange = function(response) {
  if (request.readyState === 4) {
    if (request.status === 200) {
      // Parse the JSON
      var jsonOptions = JSON.parse(request.responseText);

      // Loop over the JSON array.
      jsonOptions.forEach(function(customer) {
        var item = document.createElement('a');
        item.setAttribute('href', '#')
        item.setAttribute('class', 'list-group-item list-group-item-action');

        // this is where you want to go when you click
        //item.setAttribute('onclick', 'window.location.href="{{ url_for('projects') }}"' )
        item.setAttribute('onclick', 'customerClicked('+customer.customer_id+')')

        item.appendChild(document.createTextNode(customer.first_name));

        // Add it to the list:
        customerList.appendChild(item);
      });

    } else {
      var item = document.createElement('a');
      item.appendChild(document.createTextNode('An error has occurred'));
      customerList.appendChild(item);
    }
  }
  };

  // Set up and make the request.
  request.open('GET', '/getCustomerList', true);
  request.send();

  function customerClicked(id) {
  	window.location.href= '/projects?cust_id='+id
  }

</script>
{% endblock %}
