{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div class="modal fade" id="menu" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content menu-modal-content">
      <div class="modal-body menu-modal-body">
				<div class="list-group">
					<a href="#" class="list-group-item list-group-item-action" id="edit-project">Edit</a>
					<a href="#" class="list-group-item list-group-item-action" data-dismiss="modal">Cancel</a>
				</div>
			</div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row justify-content-between">
    <h1 id="title"></h1>
    <select class="selectpicker" id="status" name="status" data-style="btn-primary" data-width="auto">
      <option value="All">All</option>
    </select>
  </div>
</div>

<a class="text-muted paddingless" id="phone"></a><br>
<a class="text-muted paddingless" id="email"></a>

<hr class="mt-2">
<div class="col-lg-12">
  <div class="row" id="projectlist"></div>
</div>

<div class="modal fade" id="message" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div id="message-text" class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Okay</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block content2 %}
<script type="text/javascript" src='../static/js/customerinfo.js'></script>
{% endblock %}
