{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='customer.css') }}">
{% endblock %}
{% block content %}


<h1>Customers</h1>

<div class="list-group list-group-flush" id="customerlist"></div>



<script>
function test_data(listcust){
    console.log(listcust)
}

function makeA(array) {
    // Create the list element:
    var list = document.getElementById('customerlist');

    for(var i = 0; i < array.length; i++) {
        // Create the list item:
        var item = document.createElement('a');
        item.setAttribute('href', '#')
        item.setAttribute('class', 'list-group-item list-group-item-action');

        // this is where you want to go when you click
        //item.setAttribute('onclick', 'window.location.href="{{ url_for('projects') }}"' )
        item.setAttribute('onclick', 'customerClicked('+array[i].customer_id+')')

        item.appendChild(document.createTextNode(array[i].first_name));

        // Add it to the list:
        list.appendChild(item);
    }

    // Finally, return the constructed list:
    return list;
}

makeA({{ listcust|safe }});

function customerClicked(id) {
	window.location.href= '/projects?cust_id='+id
}

</script>
{% endblock %}
