{% extends "base.html" %}
{% block content %}
<h1>Edit Customer</h1>

<form id="edit-form">
  <label for="status">Status</label>
  <br>
  <label for="project_name" class="required">Customer Name</label>
  <input onchange="markDirty()" class="form-control" id="cust_name" type="text" name="f_name" value="" pattern=".*\S+.*" maxlength="50" required>
  <label for="address" style="padding-top: 1rem;">Email</label>
  <input onchange="markDirty()" class="form-control" id="email" type="text" name="email" value="" maxlength="50">
  <label for="address" style="padding-top: 1rem;">Cell Phone</label>
  <input onchange="markDirty()" class="form-control" id="cellphone" type="text" name="cp" value="" maxlength="50">
  <input id="save" onclick="markClean()" class="btn btn-primary btn-block bottom-margin mt-1" type="submit" value = "Save Information">
</form>
<div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteLabel">Delete Project?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">Clicking delete will permanently delete the project.</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        <button onclick="markClean()" type="button" class="btn btn-danger" id="delete-project"/>Delete</button>
      </div>
    </div>
  </div>
</div>
<button class="btn btn-danger btn-block" data-toggle="modal" data-target="#confirmDelete">Delete Project</button>
<div class="modal fade" id="message" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div id="message-text" class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Okay</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="confirmDiscard" tabindex="-1" role="dialog" aria-labelledby="confirmDiscardTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmDiscardTitle">Discard Changes?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">Your changes have not been saved.</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
          <button id="confirmDiscardSave" type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
          <button id="confirmDiscardOkay" type="button" class="btn btn-danger" data-dismiss="modal">Discard</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block content2 %}
<script type="text/javascript" src='../static/js/editcustomer.js'></script>
{% endblock %}
