{% extends "base.html" %}
{% block content %}

<h1> Editing Project Information </h1>

<form method = "post"  action="{{url_for('editprojectinfo') }} ">
  <input class="form-control" id="project_id" type="hidden" name="projectvalue"/>
  <input class="form-control" id="project_name" type="text" name="project_name" value="Project Name">
  <input class="form-control" id="address" type="text" name="address" value="Address">
  <select id = "status" name = "Status">
    <option value = "Status 1"> Status 1 </option>
    <option value = "Status 2"> Status 2 </option>
  </select>
  <textarea class="form-control" id="note" name="note" rows="3" cols="30" placeholder="Save or update note"></textarea>
  <br>
  <input class="btn btn-primary btn-block" type="submit" value = "Save Information"/>
</form>


<script>
  function displayProjectInfo(proj) {
    document.getElementById('project_name').value = proj[0].project_name;
    //document.getElementById('status').value = 'Status: ' + proj[0].status_name;
		document.getElementById('address').value = proj[0].address;

		// SAVES PROJECT ID AND SENDS TO '/projectinfo'
		//document.getElementById('project_id').value = proj[0].project_id);

	  if (proj[0].note != null) {
	    document.getElementById('savednote').value = proj[0].note;
	  }
  }

  displayProjectInfo({{ proj|safe }});
</script>

{% endblock %}
