{% extends "base.html" %}
{% block content %}

<h1> Editing Project Information </h1>

<form method = "post"  action="{{url_for('editprojectinfo') }} ">
  <input class="form-control" id="project_id" type="hidden" name="project_id"/>
  <input class="form-control" id="project_name" type="text" name="project_name" value="Project Name">
  <input class="form-control" id="address" type="text" name="address" value="Address">
  <select id = "status" name = "status"></select>
  <textarea class="form-control" id="note" name="note" rows="3" cols="30" placeholder="Save or update note"></textarea>
  <br>
  <input class="btn btn-primary btn-block" type="submit" value = "Save Information"/>
  <a> * Any unsaved information will be lost </a>
</form>

<script type="text/javascript">
var url = new URL(window.location.href);
var proj_id = url.searchParams.get("proj_id");
var statusList = document.getElementById('status');

var requestStatus = new XMLHttpRequest();
requestStatus.onreadystatechange = function(response) {
  if (requestStatus.readyState === 4) {
    if (requestStatus.status === 200) {
      // Parse the JSON
      var jsonStatus = JSON.parse(requestStatus.responseText);
      jsonStatus.forEach(function(status) {
        var item = document.createElement('option');
        item.setAttribute('value', status.status_name);
        item.innerHTML = status.status_name;
        // Add it to the list:
        statusList.appendChild(item);
    });
    }
  }
}
requestStatus.open('GET', '/getStatusList', true);
requestStatus.send()

  var requestProj = new XMLHttpRequest();
  requestProj.onreadystatechange = function(response) {
    if (requestProj.readyState === 4) {
      if (requestProj.status === 200) {
        // Parse the JSON
        var project = JSON.parse(requestProj.responseText);
        document.getElementById('project_id').value = project[0].project_id;
        document.getElementById('project_name').value = project[0].project_name;
    		document.getElementById('address').value = project[0].address;
        for(var i = 0; i < statusList.length; i++) {
          if(statusList[i].value == project[0].status_name) {
            statusList[i].setAttribute('selected', 'selected')
          }
        }
    	  document.getElementById('note').value = project[0].note;
      }
    }
  }
  requestProj.open('GET', '/getProject/' + proj_id, true);
  requestProj.send()

</script>

{% endblock %}
