{% extends "base.html" %}
{% block content %}
<h1>New Customer</h1>
<form id="custinfo" method="post" action="{{ url_for('newcustomer') }}">
    <div class="form-group">
        <label for="name" class="required">Name</label>
        <input class="form-control" type="username" placeholder="Enter Name" id="name" name="name" size="20" pattern=".*\S+.*" maxlength="50" required>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="email" placeholder="Enter Email"id="email" name="email" size="20" maxlength="30">
    </div>
    <div class="form-group">
        <label for="phone_number">Phone Number</label>
        <input class="form-control" type="tel" pattern="^\s*(?:\+?(\d{1,3}))?[-. (]*(\d{3})[-. )]*(\d{3})[-. ]*(\d{4})(?: *x(\d+))?\s*$" placeholder="Enter Phone Number"id="phone_number" name="pn" size="20" maxlength="20">
    </div>
    <div class="form-group">
        <label for="address">Address</label>
        <input class="form-control" type="text" placeholder="Enter Address" id="address" name="address" size="20" maxlength="50">
    </div>
    <p></p>
    <input class="btn btn-primary btn-block" type="submit" value="Create">
</form>
{% endblock %}