{% extends "base.html" %}
{% block content %}
<h1>New Project</h1>
<hr class="mt-2">
<div class="col-12">
  <div class="row" id="customers-list"></div>
</div>
<form>
  <div class="form-group" id="add-project">
    <label for="customer" class="required">Select a Customer</label>
    <input id="add-customer-typeahead" class="col-12 typeahead form-control" type="text" placeholder="Add a customer..." style="margin-top: 0; width: 100%;">
    <datalist id="json-datalist"></datalist>
  </div>
  <div class="form-group">
    <label for="name" class="required">Name</label>
    <input onchange="markDirty()" class="form-control" placeholder="Enter Project Name" id="name" name="name" type="text" size="20" maxlength="50" pattern=".*\S+.*" required>
  </div>
  <div class="form-group">
    <label for="address">Address</label>
    <input onchange="markDirty()" class="form-control" placeholder="Enter Address" id="address" name="address" size="20" maxlength="50" >
  </div>
  <input onclick="markClean()" class="btn btn-primary btn-block" type="submit" value="Create">
</form>
<div class="modal fade" id="message" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div id="message-text" class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Okay</button>
      </div>
    </div>
  </div>
</div>
<!--<button class="btn btn-primary btn-block" id="create">Create</button>-->
{% endblock %}
{% block content2 %}
<script type="text/javascript" src='../static/js/newproject.js'></script>
{% endblock %}
