{% extends "base.html" %}
{% block content %}

<h1>
	<p id="project_name"></p>
</h1>

<div class="container">
	<img src="../static/images/Mock Drawing Image.png" height = 250 width = 350>
	<p id="address"></p>
	<p id="status"></p>
	<p id="start_date"></p>
	<p id="end_date">End Date: Ongoing</p>
  <p id="savednote">Note</p>
	<button type="button" id="editproject">Click to edit project information</button>
	<br> <br>
	<div class="row" id = 'projectPictures'></div>
</div>

<form method = "post" action="{{ url_for('uploadpicture') }}" enctype=multipart/form-data >
	<input class="form-control" type="hidden" name="proj_id" id="project_id" />
  <input type="file" name="picture" accept="image/*">
  <input type="submit" value = "Upload picture">
</form>

<script>
	function displayProjectInfo(proj) {
		document.getElementById('project_name').innerHTML = proj[0].project_name;
		document.getElementById('status').innerHTML = 'Status: ' + proj[0].status_name;
		document.getElementById('address').innerHTML = 'Address: ' + proj[0].address;
		document.getElementById('start_date').innerHTML = 'Start Date: ' + proj[0].start_date;

		// Sets the project_id into the uploadpicture form
		document.getElementById('project_id').setAttribute('value', proj[0].project_id);

		document.getElementById('editproject').setAttribute('onclick', 'projectClicked('+proj[0].project_id+')')

		if (proj[0].end_date != null) {
			document.getElementById('end_date').innerHTML = 'End Date: ' + proj[0].end_date;
		}

		document.getElementById('savednote').innerHTML = 'Notes: ' + proj[0].note;
	}

	function displayPictures(images, path) {
		var div = document.getElementById('projectPictures');
		if (images.length == 0) {
			var img = document.createElement('img');
			img.src =  path + 'No_picture_available.png';
			img.alt =  'No pictures available';
			img.height = '150';
			img.width = '150';
			div.appendChild(img);
		}

		for(var i = 0; i < images.length; i++) {
				// Create the list item:
				var img = document.createElement('img');
				img.src =  path + images[i].file_name;
				img.alt =  images[i].file_name + ' not found';
				img.height = '150';
				img.width = '150';
				// Add it to the list:
				div.appendChild(img);
		}

	return div
	}

	displayProjectInfo({{ proj|safe }});
	displayPictures({{ images|safe }}, {{ path|safe }});

	function projectClicked(id) {
		window.location.href= '/editprojectinfo?proj_id='+id
	}
</script>
{% endblock %}
