{% extends "base.html" %}
{% block content %}

<!--
From:
https://coderwall.com/p/ijrrpa/flask-flash-messages-as-bootstrap-alert
-->
{% with messages = get_flashed_messages(with_categories=true) %}
<!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
{% if messages %}
  {% for category, message in messages %}
	<div class="alert alert-{{ category }} alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<!-- <strong>Title</strong> --> {{ message }}
	</div>
  {% endfor %}
{% endif %}
{% endwith %}

<div class="modal fade" id="menu" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content menu-modal-content">
      <div class="modal-body menu-modal-body">
				<div class="list-group">
					<a href="#" class="list-group-item list-group-item-action" id="delete-others">Delete others</a>
					<a href="#" class="list-group-item list-group-item-action" data-dismiss="modal">Cancel</a>
				</div>
			</div>
    </div>
  </div>
</div>

<div id="progress" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="progressTitle" class="modal-title">Processing</h5>
      </div>
      <div class="modal-body">
        <div class="progress">
		  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="confirmTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="confirmMessage" class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="setConfirmed()">Delete</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="material-list-modal" tabindex="-1" role="dialog" aria-labelledby="materialListTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="materialListTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				<div class="form-group">
					<label for="material-list-email">To:</label>
					<input placeholder="Supplier Email" type="text" class="form-control" id="material-list-email">
				</div>
			</div>
      <div class="modal-footer">
        <button id="material-list-send" type="button" class="btn btn-primary" data-dismiss="modal" onclick="setConfirmed()">Send</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="input" tabindex="-1" role="dialog" aria-labelledby="inputTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="inputTitle"></h5>
      </div>
      <div class="modal-body">
				<form onsubmit="closeInput()" action="javascript:void(0);">
					<input type="text" class="form-control" id="inputText">
				</form>
			</div>
      <div class="modal-footer">
				<button id="inputOkay" type="button" class="btn btn-primary" data-dismiss="modal">Okay</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="message" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div id="message-text" class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Okay</button>
      </div>
    </div>
  </div>
</div>

<!--top name and status -->
<div class="container-fluid">
  <div class="row justify-content-between">
		<h1 id="project-name"></h1>
		<button onclick="toggleFinalized()" class="btn btn-primary finalize-off" style="padding-top: 10px;" id="finalize"><span class="finalize-check-off" id="finalize-check"><i class="fa fa-check-circle-o" aria-hidden="true"></i> </span><span id="finalize-text">Finalize</span></button>
		<h4 class="float-right text-grey" id="status" style="padding-top: 10px; font-weight: bold;"></h4>
	</div>
</div>
<a href="{{ url_for('customerinfo') }}?cust_id=" class="text-muted paddingless" id="customer-name"></a>
<hr class="mt-2">

<ul id="layout-tabs" class="nav nav-tabs flex-wrap">
  <li id="layout-tab1" onclick="setActiveLayout('1')" oncontextmenu="layoutMenu(event, '1')" class="nav-item">
    <a class="nav-link active fixed-tab-width" data-toggle="tab" href="#layout1">Layout 1</a>
  </li>
	<li id="add-layout" class="nav-item">
    <a class="nav-link" onclick="addLayout()" href="#" style="color:grey;">+</a>
  </li>
</ul>

<div id="layouts" class="tab-content">
  <div id="layout1" class="tab-pane fade in show active">
		<a class="name-edit" href="#" onclick="setLayoutName('1')">Untitled&nbsp;<i class="fa fa-pencil" aria-hidden="true"></i></a>
		<div class="container make-centre" id="overlay" style="padding-bottom: 40px;">
			<td>
				<img id="image1" style="max-width:100%;cursor:pointer; max-height: 50vh;" onclick="editDiagram(this);" <img id="drawiopic"  style="cursor:pointer;max-width:100%;" onclick="(function(img){if(img.wnd!=null&&!img.wnd.closed){img.wnd.focus();}else{var r=function(evt){if(evt.data=='ready'&&evt.source==img.wnd){img.wnd.postMessage(decodeURIComponent(img.getAttribute('src')),'*');window.removeEventListener('message',r);}};window.addEventListener('message',r);img.wnd=window.open('https://fencythat.cavalryfence.ca/?client=1&lightbox=1&edit=_blank');}})(this);"/>
			</td>
		</div>
		<hr class="mt-2">
		<p></p>
	</div>
</div>
<hr class="mt-2">

<ul id="appearance-tabs" class="nav nav-tabs flex-wrap">
  <li id="appearance-tab1" onclick="setActiveAppearance('1')" oncontextmenu="appearanceMenu(event, '1')" class="nav-item">
    <a class="nav-link active fixed-tab-width" data-toggle="tab" href="#appearance1">Appearance 1</a>
  </li>
	<li id="add-appearance" class="nav-item">
    <a class="nav-link" onclick="addAppearance()" href="#" style="color:grey;">+</a>
  </li>
</ul>

<div id="appearances" class="tab-content">
	<div id="appearance1" class="tab-pane fade in show active">
		<a class="name-edit" href="#" onclick="setAppearanceName('1')">Untitled&nbsp;<i class="fa fa-pencil" aria-hidden="true"></i></a>
		<div class="form-group">
			<label for="basePrice">Base Price</label>
			<input onchange="saveActiveAppearance()" id="basePrice" type="number" class="form-control" min="0.00" step="0.01" value="0.00" oninput="validity.valid||(value='');"><br>
			<label for="height">Height</label>
			<select onchange="saveActiveAppearance()" class="form-control" id="height" name="height">
				<option value="Height 1">Height 1</option>
				<option value="Height 2">Height 2</option>
			</select><br>
			<label for="style">Style</label>
			<select onchange="saveActiveAppearance()" class="form-control" id="style" name="style">
				<option value="Style 1">Style 1</option>
				<option value="Style 2">Style 2</option>
			</select><br>
			<label for="borderColor">Border Color</label>
			<select onchange="saveActiveAppearance()" class="form-control" id="borderColor" name="borderColor">
				<option value="Color 1">Color 1</option>
				<option value="Color 2">Color 2</option>
			</select><br>
			<label for="panelColor">Panel Color</label>
			<select onchange="saveActiveAppearance()" class="form-control" id="panelColor" name="panelColor">
				<option value="Color 1">Color 1</option>
				<option value="Color 2">Color 2</option>
			</select>
		</div>
	</div>
</div>

<hr class="mt-2">
<div class="container-fluid">
	<div class="row justify-content-between">
		<div class="col-lg-6 col-md-6">
			<h4 class="text-grey" style="font-weight: bold;">Address</h4>
			<a target="_blank" class="no-top-padding" id="address" style="font-weight: bold;" id="address"></a>
		</div>
		<!-- or class="float-right" -->
		<div class="col-lg-6 col-md-6">
			<div class="row">
				<div class="col-6">
					<h4 class="text-grey" style="font-weight: bold;">Start Date</h4>
					<p class="no-top-padding" id="start-date" style="font-weight: bold;"></p>
				</div>
				<div class="col-6">
					<h4 class="text-grey" style="font-weight: bold;">End Date</h4>
					<p class="no-top-padding" id="end_date" style="font-weight: bold;">Ongoing</p>
				</div>
			</div>
		</div>
	</div>
</div>
<hr class="mt-2" id="noteContainer" style="display:none;">
<p id="savednote"></p>
<hr class="mt-2">

<!--<div class="col-lg-12">
  <div class="row" id="projectPictures"></div>
</div>-->
<div>
  <div class="HorizontalScrollList">
    <ul class="list-inline" id="projectPictures">
    </ul>
  </div>
</div>

<div class="modal fade" id="imagepopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" data-dismiss="modal" id="image-dialog">
    <div class="modal-content custom-modal" id="image-modal">
      <div class="modal-body modal-padding">
        <img class="imagemodal" src="" id="imagepreview" >
      </div>
      <div class="modal-footer modal-padding">
        <button class="btn btn-danger btn-ok" type="button">Delete Image</button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
	<form class="d-none" id="upload-form" enctype=multipart/form-data >
		<input class="form-control" type="hidden" name="proj_id" id="project_id" />
		<div class="row">
			<div class="col-sm-12 less-padding">
				<label for="file-upload" class="btn btn-primary btn-block">
				    Upload Image
				</label>
		  	<input class="btn btn-primary btn-block" id="file-upload" type="file" name="picture" accept="image/*">
			</div>
	  	</div>
	</form>
	<div class="row">
		<div class="col-sm-6 less-padding" style="padding-bottom: 8px;">
			<form id="view-quote" method="post" action="javascript:void(0);">
				<input class="btn btn-primary btn-block" type="submit" value="View Quote"/>
			</form>
		</div>
		<div class="col-sm-6 less-padding" style="padding-bottom: 8px;">
			<form id="view-material-list" method="post" action="javascript:void(0);">
				<input class="btn btn-primary btn-block" type="submit" value="View Material List"/>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 less-padding" style="padding-bottom: 8px;">
			<form id="quote-form" method="post">
				<input id="sendQuoteButton" class="btn btn-primary btn-block" type="submit" value="Send Quote"/>
			</form>
		</div>
		<div class="col-sm-6 less-padding" style="padding-bottom: 8px;">
			<form id="send-material-list" method="post">
				<input id="sendMaterialListButton" class="btn btn-primary btn-block" type="submit" value="Send Material List"/>
			</form>
		</div>
	</div>
</div>


{% endblock %}
{% block content2 %}
<script src="../static/js/projectinfo.js"></script>
{% endblock %}
