{% extends "base.html" %}
{% block content %}

<!--
From:
https://coderwall.com/p/ijrrpa/flask-flash-messages-as-bootstrap-alert
-->
{% with messages = get_flashed_messages(with_categories=true) %}
<!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
{% if messages %}
  {% for category, message in messages %}
	<div class="alert alert-{{ category }} alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<!-- <strong>Title</strong> --> {{ message }}
	</div>
  {% endfor %}
{% endif %}
{% endwith %}

<div id="progress" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="progressTitle" class="modal-title">Processing</h5>
      </div>
      <div class="modal-body">
        <div class="progress">
		  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--top name and status -->
<div class="container-fluid">
  <div class="row justify-content-between">
    <h1 id="project-name"></h1>
    <h4 class="float-right" id="status" style="padding-top: 10px; font-weight: bold;"></h4>
  </div>
</div>
<hr class="mt-2">

<ul id="layout-tabs" class="nav nav-tabs flex-wrap">
  <li dbId="" layoutName="" id="layout-tab1" onclick="setActiveLayout('1')" class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#layout1">Layout 1</a>
  </li>
	<li id="add-layout" class="nav-item">
    <a class="nav-link" onclick="addLayout()" href="#" style="color:grey;">+</a>
  </li>
</ul>

<div id="layouts" class="tab-content">
  <div id="layout1" class="tab-pane fade in show active">
		<a href="#" onclick="setLayoutName('1')"><b>Layout 1</b></a>
		<div class="container make-centre" id="overlay" style="padding-bottom: 40px;">
			<td><img id="image1" style="max-width:100%;cursor:pointer;" onclick="editDiagram(this);" <img id="drawiopic"  style="cursor:pointer;max-width:100%;" onclick="(function(img){if(img.wnd!=null&&!img.wnd.closed){img.wnd.focus();}else{var r=function(evt){if(evt.data=='ready'&&evt.source==img.wnd){img.wnd.postMessage(decodeURIComponent(img.getAttribute('src')),'*');window.removeEventListener('message',r);}};window.addEventListener('message',r);img.wnd=window.open('https://csahmad.github.io/drawio/war/?client=1&lightbox=1&edit=_blank');}})(this);"/></td>
		</div>
	</div>
</div>

<div class="row">

<ul id="appearance-tabs" class="nav nav-pills nav-justified flex-column">
	<li dbId="" appearanceName="" id="appearance-tab1" onclick="setActiveAppearance('1')" class="nav-item">
		<a class="nav-link active" data-toggle="pill" href="#appearance1">Appearance 1</a>
	</li>
	<li id="add-appearance" onclick="addAppearance()" class="nav-item">
		<a class="nav-link" href="#" style="color:grey;">+</a>
	</li>
</ul>

<div id="appearances" class="tab-content">
	<div id="appearance1" class="tab-pane fade in show active">
			<a href="#" onclick="setAppearanceName('1')"><b>Appearance 1</b></a>
		<h3>Appearance 1</h3>
	</div>
</div>

</div>


<hr class="mt-2">
<div class="container-fluid">
	<div class="row justify-content-between">
		<div class="col-lg-6 col-md-6">
			<h4 class="text-green" style="font-weight: bold;">Address</h4>
			<p class="no-top-padding" id="address" style="font-weight: bold;" id="address"></p>
		</div>
		<!-- or class="float-right" -->
		<div class="col-lg-6 col-md-6">
			<h4 class="text-green" style="font-weight: bold;">Start Date</h4>
			<p class="no-top-padding" id="start-date" style="font-weight: bold;"></p>
			<h4 class="text-green" style="font-weight: bold;">End Date</h4>
			<p class="no-top-padding" id="end_date" style="font-weight: bold;">Ongoing</p>
		</div>
	</div>
</div>
<hr class="mt-2" id="noteContainer" style="display:none;">
<p id="savednote"></p>
<hr class="mt-2">

<!--<div class="col-lg-12">
  <div class="row" id="projectPictures"></div>
</div>-->
<div>
  <div class="HorizontalScrollList">
    <ul class="list-inline" id="projectPictures">
    </ul>
  </div>
</div>

<div class="modal fade" id="imagepopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" data-dismiss="modal">
    <div class="modal-content custom-modal">
      <div class="modal-body modal-padding">
        <img class="imagemodal" src="" id="imagepreview" >
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
	<form id="upload-form" enctype=multipart/form-data >
		<input class="form-control" type="hidden" name="proj_id" id="project_id" />
		<div class="row">
			<div class="col-sm-12 less-padding">
				<label for="file-upload" class="btn btn-primary btn-block">
				    Upload Image
				</label>
		  	<input class="btn btn-primary btn-block" id="file-upload" type="file" name="picture" accept="image/*">
			</div>
	  	</div>
	</form>
	<div class="row">
		<div class="col-sm-6 less-padding" style="padding-bottom: 8px;">
			<form method="post" target="_blank" action="{{url_for('viewQuote', proj_id=request.args.get('proj_id'))}}">
				<input class="btn btn-primary btn-block" type="submit" value="View Quote"/>
			</form>
		</div>
		<div class="col-sm-6 less-padding" style="padding-bottom: 8px;">
			<form method="post" target="_blank" action="{{url_for('viewMaterialList', proj_id=request.args.get('proj_id'))}}">
				<input class="btn btn-primary btn-block" type="submit" value="View Material List"/>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 less-padding" style="padding-bottom: 8px;">
			<form onSubmit="showSendingQuote();" method="post" action="{{url_for('sendQuote', proj_id=request.args.get('proj_id'))}}" data-toggle="modal" data-target="#progress">
				<input id="sendQuoteButton" class="btn btn-primary btn-block" type="submit" value="Send Quote"/>
			</form>
		</div>
		<div class="col-sm-6 less-padding" style="padding-bottom: 8px;">
			<form onSubmit="showSendingMaterialList();" method="post" action="{{url_for('sendMaterialList', proj_id=request.args.get('proj_id'))}}" data-toggle="modal" data-target="#progress">
				<input id="sendMaterialListButton" class="btn btn-primary btn-block" type="submit" value="Send Material List"/>
			</form>
		</div>
	</div>
</div>


{% endblock %}
{% block content2 %}
<script src="../static/js/projectinfo.js"></script>
{% endblock %}
